

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
staticfiles

# Proyecto Django
## Migraciones
Appunte/migrations


### Django.Python Stack ###
*.py[cod]
*$py.class

# Unit test / coverage reports
.pytest_cache

# pyenv
.python-version

# VEnv
.venv

# dotenv
.env

### IDEs ###
# VSCode
.vscode
.history

# PyCharm
.idea

# OS-specific
*.DS_Store

