
.background-landing {
    background: rgba(25, 90, 144, 1);
    background: -moz-linear-gradient(left, rgba(25, 90, 144, 1) 0%, rgba(72, 146, 206, 1) 100%);
    background: -o-linear-gradient(left, rgba(25, 90, 144, 1) 0%, rgba(72, 146, 206, 1) 100%);
    background: -ms-linear-gradient(left, rgba(25, 90, 144, 1) 0%, rgba(72, 146, 206, 1) 100%);
    background: linear-gradient(to right, rgba(25, 90, 144, 1) 0%, rgba(72, 146, 206, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#195a90', endColorstr='#4892ce', GradientType=1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 74%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 74%, 0 85%);
    height: 100vh;
    width: 100%;
}

.background-course {
    background: rgb(127, 130, 133) !important;
}
       