{% extends "base.html" %}

{% block content %}

    <div class="background-landing">
        <div class="prehome-video-content-top hidden-xs">
            <div class="col-md-1 col-md-offset-0">

            </div>

        </div>

        <div class="prehome-video-content" style="padding: 100px;">
            <div class="col-md-4 col-md-offset-1 text-home">

                APPUNTE
                <p><b>Descubre la nueva forma de estudiar!</b>
                    Regístrate o inicia sesión y prepárate para tus exámenes.
                    <span>Puedes utilizarlo en tu celular también.</span>
                    <a href="http://play.google.com/store/apps/details?id=com.ionicbyrequest.appunte" target="_blank"
                       class="default-blue-button">Android</a>
                    <a href="https://itunes.apple.com/cl/app/appunte/id1182837147?mt=8" target="_blank"
                       class="default-blue-button">IOS</a>
                </p>
            </div>
            <div class="col-md-5 col-md-offset-0">

            </div>
        </div>
    </div>

    <div class="prehome-video-content-bottom visible-xs">
        <div class="col-md-6 margin-top-2">
            Visita nuestro canal en <a
                href="https://www.youtube.com/channel/UCmLwU-OQUX5qTTSk0SquTpw"><b>YOUTUBE</b></a>
        </div>
        <div class="col-md-6 margin-top-1">

            Siguenos en
            <a href="https://www.facebook.com/appunte/" target="_blank"></a>
            <a href="https://www.instagram.com/appunte.cl/" target="_blank"></a>

        </div>
    </div>



    <!-- ENTER modal -->
    <div id="modal_enter" class="modal fade modal-session" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header text-center" style="padding-bottom: 0px;">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                         width="182.353px" height="172.548px" viewBox="0 0 182.353 172.548"
                         enable-background="new 0 0 182.353 172.548"
                         xml:space="preserve">
          <g>
            <polygon fill="#8F908F"
                     points="62.378,37.049 38.161,57.838 56.163,82.056 50.27,98.129 90.882,152.782 	"/>
              <polygon fill="#4891CE" points="62.378,37.049 82.284,47.979 67.501,57.844 	"/>
              <polygon fill="#3168B2" points="82.284,47.979 67.938,59.624 67.501,57.844 	"/>
              <polygon fill="#8F908F"
                       points="119.388,37.049 143.604,57.838 125.603,82.056 131.497,98.129 90.882,152.782 	"/>
              <polygon fill="#4891CE" points="119.388,37.049 99.481,47.979 114.265,57.844 	"/>
              <polygon fill="#3168B2" points="99.481,47.979 113.827,59.624 114.265,57.844 	"/>
              <polygon fill="#EF3A37" points="90.882,65.861 96.79,65.861 104.224,53.525 97.956,48.583 90.882,48.583 83.81,48.583
						77.542,53.525 84.976,65.861 	"/>
              <polygon fill="#EF3A37"
                       points="90.882,152.782 78.581,102.832 84.976,67.227 90.882,67.227 96.79,67.227 103.185,102.832 	"/>
              <path fill="#EE3332" d="M84.976,65.902c0,0,1.527-2.492,5.947-2.492s5.867,2.492,5.867,2.492H84.976z"/>
              <path fill="#EE3332" d="M81.856,116.132c0,0,4.098,9.043,9.025,9.043c4.93,0,9.027-9.043,9.027-9.043l-9.027,36.65L81.856,116.132z
						"/>
          </g>
        </svg>
                    <h3 class="font-weight-300"> ¡BIENVENIDO! </h3>
                </div>


                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="form-group">

                            </div>
                            <div class="form-group" style="margin-bottom: 0px;">

                                <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#myModalRecover">¿Olvidaste
                                    tu
                                    contraseña?</a>
                            </div>
                            <br>
                            <button type="submit" class="btn default-button" id="login-submit">Entrar</button>

                        </div>
                    </div>
                </div>
                <br><br>
                <div class="modal-footer">

                    <a class="btn fb-button" href="#">Conéctate con Facebook</a>

                </div>

            </div>
        </div>
    </div>




{% endblock %}